.editIcon,
.viewIcon,
.deleteIcon {
  fill: #9ca3af;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.editIcon:hover,
.viewIcon:hover,
.deleteIcon:hover {
  opacity: 1;
}

.sunIcon {
  fill: #fff;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.moonIcon {
  fill: #818386;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.sunIcon:hover {
  fill: #ebd334;
  opacity: 1;
}

.moonIcon:hover {
  fill: #666666;
  opacity: 1;
}
