.checkmarkIcon {
  fill: #aaadac;
}

.editIcon,
.viewIcon,
.deleteIcon {
  stroke: #aaadac;
  transition: stroke 0.2s ease-in-out;
}

.deleteIcon:hover {
  stroke: #eb4c34;
}

.checkmarkIcon:hover {
  fill: #34ebb4;
}

.editIcon:hover,
.viewIcon:hover {
  stroke: #34cdeb;
}
